<!doctype html>
<html class="no-js" lang="en">

{% include "./partials/_head.njk" %}
{% include "./partials/_header.njk" %}

<main class="container">
    {{content | safe}}
</main>

{% include "./partials/_footer.njk" %}

</body>

</html>