@font-face {
    font-family: 'FKDisplayTrial-Regular';
    src: url(/assets/fonts/FKDisplayTrial-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'ABCReproMono';
    src: url(/assets/fonts/ABCReproMono/ABCReproMono-Regular-Trial.woff) format('woff2'),
        url(/assets/fonts/ABCReproMono/ABCReproMono-Regular-Trial.otf) format('otf'),
        url(/assets/fonts/ABCReproMono/ABCReproMono-Regular-Trial.woff) format('woff');
}

@font-face {
    font-family: 'ABCReproMonoMedium';
    src: url(/assets/fonts/ABCReproMono/ABCReproMono-Light-Trial.woff) format('woff2'),
        url(/assets/fonts/ABCReproMono/ABCReproMono-Light-Trial.otf) format('otf'),
        url(/assets/fonts/ABCReproMono/ABCReproMono-Light-Trial.woff) format('woff');
}

* {
    box-sizing: border-box;
}

body {
    background-color: #FFF;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    --display-font: 'FKDisplayTrial-Regular';
    --mono-font: 'ABCReproMonoMedium', 'Courier New', Courier, monospace;
    --text-font: sans-serif;

    --salmon: #FFCCBE;
    --red: #E43F17;
    --darkgreen: #024D52;
    --violet: #A4A0FF;
    --gold: #CB8232;
    --bordeaux: #A0505D;

}

body.no-scroll {
    overflow: hidden;
}
main {
    flex-grow: 1;
}

header,
main {
    padding: 0 40px;
}

img {
    max-width: 100%;
    height: auto;
    /* border-radius: 20px; */
}

h1,
h2 {
    font-size: 72px;
    font-family: var(--display-font);
    font-weight: 400;
    line-height: 86.4px;
}

h1 {
    text-align: center;
}

/* helpers */
ul.unlist {
    list-style: none;
    padding: 0;
    margin: 0;
}
/* layout */
.container {
    max-width: 1440px;
    margin: 0 auto;
}
.container-xs {
    max-width: 940px;
    margin: 0 auto;
}
.flex {
    display: flex;
}

.tac {
    text-align: center;
}


/* header */
.site-header {
    margin-top: 25px;
    margin-bottom: 65px;
}

.topbar.flex {
    justify-content: space-between;
    align-items: center;
}

.site-header a.logo {
    display: block;
}

.line {
    display: block;
    width: 53px;
    height: 2px;
    background-color: #000;
}

.line + .line {
    margin-top: 10px;
}

.main-navigation {
    display: none;
    position: fixed;
    z-index: 999;
    top: 76px;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    padding: 40px;
    overflow-y: scroll;
    text-transform: uppercase;
    font-weight: 400;
}
.main-navigation.show {
    display: block;
}
.main-navigation li a {
    display: block;
    text-decoration: none;
    font-family: var(--display-font);
    /* font-size: 220px; */
    font-size: 18vw;
}
.main-navigation li a:hover {
    color: #000 !important;
}
.menu-icon {
    display: block;
}
.menu-icon:hover {
    cursor: pointer;
}

.menu-icon.open .line:first-child {
    transform: rotate(45deg) translate(9px, 18px);
}

.menu-icon.open .line:last-child {
    transform: rotate(-45deg) translate(-10px, 0px);
}
.bottombar {
    color: #000;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-family: var(--display-font);
    padding: 20px 0;
    margin: 60px 0;
}
.bottombar p {
    display: block;
    margin: 0;
}
.bottombar a {
    display: block;
    color: #000;
    font-family: var(--display-font);
    text-decoration: none;
}

/* Projects. */
.featured-image {
    margin: 0;
    text-align: center;
}

.project-container {
    position: relative;
}

.project-slider {
    height: auto;
    position: relative;
    overflow: hidden;
}
.swiper-slide {
    z-index: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-nav {
    position: absolute;
    z-index: 10;
    height: 100%;
    width: 50%;
    top: 0;
    text-indent: -99999px;
}

.swiper-prev {
    left: 0;
    cursor: url('/assets/images/arrow-prev.svg'), auto;
}

.swiper-next {
    right: 0;
    cursor: url('/assets/images/arrow-next.svg'), auto;
}

.swiper-nav svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform-origin: center
}

.project-description {
    margin-bottom: 120px;
}

h2.project-title {
    font-family: var(--display-font);
    font-weight: 600;
    font-size: 16px;
    line-height: 1;
}

.project-description {
    font-family: var(--mono-font);
    max-width: 630px;
    line-height: 120%;
}


body.about-us p.about-uppercase {
    font-size: 3em;
    text-transform: uppercase;
    color: #837FD2;
    font-family: var(--display-font);
}
/*posts*/
.post + .post {
    margin-top: 60px;
}
.post-featured-image {
    margin-bottom: 45px;
}
.post-title {
    font-family: var(--display-font);
    font-weight: 400;
    font-size: 20px;
    letter-spacing: -0.5px;
    line-height: 20px;
    margin: 0;
}
.post-content {
    font-family: var(--mono-font);
    font-size: 16px;
}

/* press */
.press-item + .press-item {
    border-top: 1px solid #000;
    margin-top: 80px;
}
.press-link {
    text-decoration: none;
}
.press-link:hover {
    color: #000 !important;
}
.press-title {
    font-size: 10vw;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 0;
}
.press-meta {
    display: block;
    font-family: var(--mono-font);
    font-weight: 800;
    text-transform: uppercase;
    text-align: right;
}

/* Contact */
.contact-page-title {
    display: block;
    margin-left: -5px; /* a hack */
    color: var(--red);
    font-family: var(--display-font);
    font-size: 64px;
    font-weight: 400;
    line-height: 110%;
    text-transform: uppercase;
}

.form-controls-container {
    max-width: 1157px;
    margin: 60px auto;
}
.form-controls .flex {
    gap: 2%;
}
.form-controls .flex + .flex {
    margin-top: 60px;
}
.form-controls .flex .input-group {
    font-family: var(--display-font);
    width: 49%;
}

.form-control {
    outline: none;
    width: 100%;
    height: 36px;
    line-height: 30px;
    font-size: 20px;
    font-family: var(--display-font);
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #000;
}
.form-control:focus {
    outline: none;
}

.flex.terms {
    padding-top: 20px;
    justify-content: center;
    font-family: var(--display-font);
    align-items: center;
}
.terms input[type=checkbox] {
    height: 23px;
}
.terms label {
    line-height: 23px;
}
.submit-button {
    font-size: 16px;
    margin-top: 60px;
    background-color: white;
    border: 1px solid #000;
    font-family: var(--display-font);
    padding: 20px;
    width: 100%;
    display: inline-block;
}

footer.bottombar {
    padding: 40px;
    margin: 0;
}

/* A random media size */
@media (max-width: 543px) {
    header, main {
        padding: 0 20px;
    }
    .homepage .featured-image img {
        max-width: 150vw;
    }
    .homepage main,
    .projects main {
        padding: 0;
    }
    .project-info {
        padding: 0 20px;
    }
    .press-meta {
        margin-top: 60px;
        text-align: left;
        font-size: 12px;
    }
    .press-item+.press-item {
        margin-top: 0;
    }
    .contact-page-title {
        text-align: left;
    }
    .form-controls .flex:not(.terms) {
        flex-direction: column;
    }
    .form-controls .flex + .flex {
        margin-top: 0; /*reset*/
    }
    .form-controls .flex .input-group {
        width: 100%;
    }
    .input-group  {
        margin-top: 30px;
    }
    .flex.terms {
        justify-content: flex-start;
    }
    body.about-us p.about-uppercase {
        font-size: 18px;
        line-height: 1.4;
        letter-spacing: 0.4px;
        text-transform: uppercase;
        color: #837FD2;
        font-family: var(--display-font);
    }

}