---
layout: base.njk
pagename: about-us
pageTitle: About Us
---

<p class="about-uppercase">
TALC STUDIO is a landscape design studio founded in 2015 by Taylor Palmer & Anastasia Sonkin. We are plant enthusiasts and students of garden craft, research and horticulture. The opportunity to ignite a conversation between architecture, landscape and place is the heart of our process.
<br><br>
We design gardens for functionality and ecological enrichment. The result of this relationship is the combination of thoughtfully designed spaces with climate appropriate plant specimens.
</p>
