---
layout: base.njk
pagename: press
pageTitle: Press
---

<ul class="unlist">
    <li class="press-item">
        <a class="press-link" href="#"  style="color: var(--gold);">
            <h2 class="press-title">Gardenista</h2>
            <p class="press-meta">Landscape Design Visit, 2023</p>
        </a>
    </li>
    <li class="press-item">
        <a class="press-link" href="#" style="color: var(--bordeaux);">
            <h2 class="press-title">Architectural Digest</h2>
            <p class="press-meta">The Next Generation, 2023</p>
        </a>
    </li>
    <li class="press-item">
        <a class="press-link" href="#" style="color: #2963A1;">
            <h2 class="press-title">Dwell Magazine</h2>
            <p class="press-meta">The Next Generation, 2023</p>
        </a>
    </li>
    <li class="press-item">
        <a class="press-link" href="#" style="color: #E43F17;">
            <h2 class="press-title">The plant hunter</h2>
            <p class="press-meta">A garden we designed, 2019</p>
        </a>
    </li>
     <li class="press-item">
        <a class="press-link" href="#" style="color: var(--violet);">
            <h2 class="press-title">Gardenista</h2>
            <p class="press-meta">An interview with our studio, 2018</p>
        </a>
    </li>
    <li class="press-item">
        <a class="press-link" href="#" style="color: var(--darkgreen);">
            <h2 class="press-title">The garden of edens</h2>
            <p class="press-meta">Published by gestalten, 2018</p>
        </a>
    </li>
</ul>