<header class="site-header">
    <div class="container">
        <div class="topbar flex">
            <a href="/" class="logo"><img src="/assets/images/logo-talc.svg" alt="Logo Talc"></a>
            <div class="menu-icon">
                <span class="line"></span>
                <span class="line"></span>
            </div>
        </div>
    </div>
</header>