<header class="site-header">
    <div class="topbar flex">

            <a href="/" class="logo">
                <img src="/assets/images/logo-talc.svg" alt="Logo Talc">
            </a>
            <div class="menu-icon">
                <span class="line"></span>
                <span class="line"></span>
            </div>

    </div>
    <nav class="main-navigation wow fadeInDown" aria-expanded="false">
        <ul class="unlist">
            <li><a href="/projects" style="color: #FFCCBE;">Work</a></li>
            <li><a href="/about" style="color: #E43F17;">About</a></li>
            <li><a href="#" style="color: #2963A1;">Journal</a></li>
            <li><a href="#" style="color: #024D52;">Shop</a></li>
            <li><a href="#" style="color: #D9D7FF;">Press</a></li>
            <li><a href="#" style="color: #CB8232;">Contact</a></li>
        </ul>
        <div class="bottombar flex"><p>2023 Talc Studio</p><a href="#">Instagram</a></div>
    </nav>

</header>