---
layout: base.njk
pagename: projects
pageTitle: Talc's project
---
<div class="container-xs">

{%- for item in collections.projects -%}

        <ul class="project-slider">
            {%- for image in collections.projectslider -%}
                <li>
                    <img src="{{image.url}}" alt="{{image.data.alt}}" class="project-image">
                <li>
            {%- endfor -%}
        </ul>

    <h2 class="project-title">{{item.data.title}}</h2>
    <p class="project-description">{{item.data.description}}</p>
{%- endfor -%}
</div>